html,
body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.canvasContainer {
  display: flex;
  height: 95%;
  width: 95%;
}

#SegmentTreeCanvas {
  position: relative;
  display: flex;
  flex: 1;
}